.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info_blocks {
  margin-right: 10px;
}

.user-info_blocks:last-child {
  margin-right: 0px;
}

.username {
  margin-right: 10px;
  font-weight: bold;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

.history {
  position: relative;
  width: 25px;
  height: 25px;
  /* border: 1px solid black; */
}

.history:hover {
  opacity: 0.8;
}

.history img {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.avatar img {
  width: 100%;
  height: auto;
}
